
*{
  font-family: 'Montserrat';
}

body{
 background-color: #1C6750;
  
}
.nav-wrapper{
  background-color:#1C6750 ;

 
}

.responsive-img{
   
   width: 100%;
   height: 100%;
   position: relative;
    
}

.green1{
  color: #1C6750;
}

#row2{
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
  padding: 30px;
  
}
.banner{
 
  background-color: #E2E2E2;
  text-align: center;
  text-justify: auto;
  height: 10em;
  
  
  
  justify-content: center;
  border-radius: 10px;
 
  display: flex;
  flex-direction: row;
}
.texto{
  color: #E2E2E2;
}

#menu-mobile{
  background-color: #1C6750;
  
}

.material-icons{
  color: #E24141;
  display: flex;
  position: relative;
  flex-direction: row;
}

#menu-mobile li a{
  color: #E2E2E2;
}

#menu-mobile li:hover{
  background-color: #E24141;
  color: #E2E2E2;
}

.btn:hover{
  background-color: #1C6750;

}

#menu-icon{
  color: #E2E2E2;
}

#teste{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 10%;
  font-size: 3em;
  
 
}

#fazer-reserva{
  color: #E2E2E2;
  background-color: #E24141;
  border-radius: 20px;
  font-size: 90%;
  width: 70%;
}
#reserve{
  color: #E24141;
}



@media screen and (max-width: 1100px){
	 #teste{
    font-size: 2.5em;
   
   }

   .banner{
    font-size: 10px;
    height: 100%;
    width: 110%;
   
    margin: auto;
    padding: auto;
   }

  

 
}

@media screen and (max-width: 1100px){
  #teste{
   font-size: 2.5em;
  
  }

  .banner{
   font-size: 10px;
   height: 100%;
   width: auto;
  
   margin: auto;
   padding: auto;
  }



}

@media screen and (max-width: 480px){
  #teste{
   font-size: 2.5em;
  
  }

  .banner{
   font-size: 10px;
   height: 100%;
   width: 110%;
  
   margin: auto;
   padding: auto;
  }

 


}
