*{
    font-family: 'Montserrat';
}

.topo{
    font-size: 50px;
    color: #E2E2E2;
}

input{
    border-color: #E2E2E2;
    color: #E2E2E2;
    width: 60%;
    height: 50px;
    background-color: #E2E2E2;
    border-radius: 10px;
    
    
}

.gmap_canvas{
    margin-top: 10%;
}

.ver-mais{
    width: 50%;
}

.frame{
    width: 100%;
    background-color: #E2E2E2;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    margin-top: 10%;
}

#car{
    color: #E2E2E2;
}


@media (max-width: 575px)
{
 .topo{
    font-size: 30px;
 }
 .pesquisar{
    width: 90%;
    height: 50px;
    background-color: #E2E2E2;
    
    border: solid red 3px;
}
  
}
